{% extends "base.html.twig" %}

{% block title %}Courrier - Chrono{% endblock %}

{% block body %}

    <main class="d-flex">

        {% include "sidebar.html.twig" %}

        <section class="main">

            {% include "navbar.html.twig" %}

            <section class="content">

                {% include "info.html.twig" %}

                <div class="content-table">
                    <table class="table">

                        <thead>
                            <tr>
                                <th class="b-none">Date</th>
                                <th class="b-none">N°</th>
                                <th class="b-none w-100">Objet</th>
                                <th class="b-none">Destinataire</th>
                                <th class="b-none">Aperçu</th>
                                <th class="b-none"></th>
                            </tr>
                        </thead>

                        <tbody>
                            {% set object_text = 'Object exemple' %}
                            {% set recipient_text = 'M. David TORDEUX' %}
                            {% for row in 1..300 %}
                                <tr>
                                    <td>15/10/2020</td>
                                    <td>{{ row }}</td>
                                    <td>{{ object_text}}</td>
                                    <td>{{ recipient_text }}</td>
                                    <td><a href="#">Voir l'aperçu</a></td>
                                    <td class="table-modify-item">
                                        <a href="#" class="table-modify-link edit">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM5.92 19H5v-.92l9.06-9.06.92.92L5.92 19zM20.71 5.63l-2.34-2.34c-.2-.2-.45-.29-.71-.29s-.51.1-.7.29l-1.83 1.83 3.75 3.75 1.83-1.83c.39-.39.39-1.02 0-1.41z"/></svg>
                                        </a>
                                        <a href="#" class="table-modify-link delete">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 9v10H8V9h8m-1.5-6h-5l-1 1H5v2h14V4h-3.5l-1-1zM18 7H6v12c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7z"/></svg>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>

                    </table>
                </div>

                <div class="d-flex justify-content-between mt-1">
                    <a href="">Année précédente</a>
                    <a href="">Année suivante</a>
                </div>

            </section>

        </section>

    </main>

    {% include "add.html.twig" with { 'page': 'courrier' } %}

{% endblock %}