{% extends "base.html.twig" %}

{% block title %}Courrier - Chrono{% endblock %}

{% block body %}

    <main class="d-flex">

        {% include "sidebar.html.twig" %}

        <section class="main">

            {% include "navbar.html.twig" %}

            <section class="content">

                <table>

                    <thead>
                        <th>Date</th>
                        <th>N°</th>
                        <th>Objet</th>
                        <th>Destinataire</th>
                    </thead>

                    <tbody>

                    </tbody>

                </table>

                <div>
                    <span>← Précédent</span>
                    <span>2020</span>
                    <span>Suivant →</span>
                </div>

            </section>

        </section>

    </main>

{% endblock %}