{% extends "base.html.twig" %}

{% block title %}Administration - Chrono{% endblock %}

{% block body %}

    <main class="d-flex">

        {% include "sidebar.html.twig" %}

        <section class="main">

            {% include "navbar.html.twig" %}

            <section class="content">

                {% include "administration/user/navbar-user.html.twig" %}

                <h4 class="mt-2">Modification des droits utilisateur</h4>

                <form id="permissions-user-form" action="">
                    <p class="category">Courrier</p>
                    <label for="add-courrier" id="add-courrier-container" class="d-flex align-items-center checkbox-container" tabindex="0">
                        <input type="checkbox" name="add-courrier" id="add-courrier" class="checkbox">
                        L'utilisateur peut ajouter un courrier
                    </label>
                    <label for="modify-courrier" id="modify-courrier-container" class="d-flex align-items-center checkbox-container mt-1" tabindex="0">
                        <input type="checkbox" name="modify-courrier" id="modify-courrier" class="checkbox">
                        L'utilisateur peut modifier un courrier
                    </label>
                    <label for="delete-courrier" id="delete-courrier-container" class="d-flex align-items-center checkbox-container mt-1" tabindex="0">
                        <input type="checkbox" name="delete-courrier" id="delete-courrier" class="checkbox">
                        L'utilisateur peut supprimer un courrier
                    </label>
                    <p class="category">Information</p>
                    <label for="add-information" id="add-information-container" class="d-flex align-items-center checkbox-container" tabindex="0">
                        <input type="checkbox" name="add-information" id="add-information" class="checkbox">
                        L'utilisateur peut ajouter une note d'information
                    </label>
                    <label for="modify-information" id="modify-information-container" class="d-flex align-items-center checkbox-container mt-1" tabindex="0">
                        <input type="checkbox" name="modify-information" id="modify-information" class="checkbox">
                        L'utilisateur peut modifier une note d'information
                    </label>
                    <label for="delete-information" id="delete-information-container" class="d-flex align-items-center checkbox-container mt-1" tabindex="0">
                        <input type="checkbox" name="delete-information" id="delete-information" class="checkbox">
                        L'utilisateur peut supprimer une note d'information
                    </label>
                    <p class="category">Service</p>
                    <label for="add-service" id="add-service-container" class="d-flex align-items-center checkbox-container" tabindex="0">
                        <input type="checkbox" name="add-service" id="add-service" class="checkbox">
                        L'utilisateur peut ajouter une note de service
                    </label>
                    <label for="modify-service" id="modify-service-container" class="d-flex align-items-center checkbox-container mt-1" tabindex="0">
                        <input type="checkbox" name="modify-service" id="modify-service" class="checkbox">
                        L'utilisateur peut modifier une note de service
                    </label>
                    <label for="delete-service" id="delete-service-container" class="d-flex align-items-center checkbox-container mt-1" tabindex="0">
                        <input type="checkbox" name="delete-service" id="delete-service" class="checkbox">
                        L'utilisateur peut supprimer une note de service
                    </label>

                    <button class="btn-blue mt-2">Enregistrer</button>
                </form>

            </section>

        </section>

    </main>

{% endblock %}