
/* List of colors */

:root {
    --blue: #0066FF;
    --lightblue: #EEF5FF;
    --darkblue: #004DC1;

    --green: #1E8449;
    --lightgreen: #E6FFF1;

    --red: #F64343;
    --lightred: #ffd5d5;
    --darkred: #CE2323;

    --black: #212121;
    --white: #ffffff;

    --lightgrey: #FBFBFB;
    --mediumgrey: #F5F5F5;
    --grey: #E9E9E9;
    --dimgrey: #C9C9C9;
    --darkgrey: #444444;
    --deepgrey: #333333;

    --transblack: #00000061;
}