// Import default values
@import 'default-values';

// Loading screen
#loading {
    display: none;
}

#loading-screen {
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: $transblack;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 999;
}

#loading-screen p {
    font-family: 'Open Sans Bold';
}

// Links
.link-white {
    color: $white;
}

// Buttons
.btn-blue {
    cursor: pointer;
    white-space: nowrap;
    background-color: $blue;
    color: $white;
    border: none;
    border-radius: 2rem;
    padding: 0.625rem 2.25rem;
    transition: background-color 0.2s ease-in-out;
}

.btn-blue:hover {
    background-color: $darkblue;
}

.btn-grey {
    cursor: pointer;
    white-space: nowrap;
    background-color: $mediumgrey;
    color: $black;
    border: none;
    border-radius: 2rem;
    padding: 0.625rem 2.25rem;
    transition: background-color 0.2s ease-in-out;
}

.btn-grey:hover {
    background-color: $grey;
}

.btn-trans {
    cursor: pointer;
    border: none;
    color: $dimgrey;
    border-radius: 2rem;
    padding: 0.625rem 2.25rem;
    background-color: transparent;
    transition: color 0.2s ease-in-out;
}

.btn-trans:hover {
    color: $white;
}

.btn-add {
    cursor: pointer;
    color: white;
    border: none;
    padding: 1.5rem 2rem;
    background-color: $blue;
    transition: background-color 0.2s ease-in-out;
}

.btn-add:hover {
    background-color: $darkblue;
}

// Labels
.inp-label {
    display: block;
    margin-bottom: 0.25rem;
}

.inp-label:not(:first-child) {
    margin-top: 1.25rem;
}

// Inputs
.inp-text {
    padding: 0.5rem;
    border: 0;
    border-radius: 3px;
    border: 1px solid $grey;
    font-size: 1rem;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.inp-text:hover {
    border-color: $darkgrey;
}

// Tables 
.table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    position: relative;
}

.table th, .table td {
    padding: 1rem;
    border: 1px solid $grey;
}

.table th {
    font-family: 'Open Sans Bold';
    background-color: $black;
    color: $white;
    position: sticky;
    top: 0;
}

.table tr:nth-child(odd) {
    background-color: $lightgrey;
}

.table-min {
    width: 1px;
    white-space: nowrap;
}

// Form
#add {
    display: none;
    width: 100vw;
    height: 100vh;
    z-index: 5;
    background: #000000e0;
    position: absolute;
    top: 0;
    left: 0;
    color: $white;
    justify-content: center;
    align-items: center;
}

#add-form {
    max-width: 28rem;
}

// Sidebar
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 0.125rem solid $grey;
    background-color: $lightgrey;
}

.sidebar-container {
    padding-right: 1rem;
    padding-left: 1rem;
}

// Menu
.menu {
    list-style-type: none;
    padding: 0;
}

.menu-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 1rem 2rem;
    border-radius: 3px;
    white-space: nowrap;
    color: $darkgrey;
    transition: background-color 0.1s ease-in-out;
}

.menu-item:hover {
    color: $black;
    background-color: $mediumgrey;
}

.menu-item svg {
    margin-right: 1rem;
    width: 1.5rem;
    height: 1.5rem;
}

.menu-title {
    padding-left: 2rem;
    padding-right: 2rem;
}

.active {
    color: $blue !important;
    background-color: $lightblue !important;
}

.active .menu-icon {
    fill: $blue;
}

// Pagination
.pagination-item {
    cursor: pointer;
    color: $black;
    transition: color 0.2s ease-in-out;
}

.pagination-item:hover {
    color: $blue;
}

// Navbar
.navbar {
    border-bottom: 0.125rem solid $grey;
    padding: 1rem 2rem;
}

// Main
.main {
    width: 100vw;
    height: 100vh;
}

// Content
.content {
    padding: 1rem 2rem;
}

// Custom checkbox
.cust-checkbox {
    padding-right: 0.5rem;
    transition: filter 0.2s ease-in-out;
}

.checkbox-container:hover .cust-checkbox {
    filter: brightness(70%);
}

.checkbox-container {
    cursor: pointer;
}


// Regular classes
.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-direction-column {
    flex-direction: column;
}

.d-inline-block {
    display: inline-block;
}

.text-center {
    text-align: center;
}

.w-100 {
    width: 100%;
}

.mr-2 {
    margin-right: 2rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.lightblue {
    background-color: $lightblue;
    cursor: pointer;
}

.c-blue {
    color: $blue;
}

.f-blue {
    fill: $blue;
    transition: fill 0.2s ease-in-out;
}

.lightblue:hover .f-blue {
    fill: $darkblue;
}

.lightred {
    background-color: $lightred;
    cursor: pointer;
}

.c-red {
    color: $red;
}

.f-red {
    fill: $red;
    transition: fill 0.2s ease-in-out;
}

.lightred:hover .f-red {
    fill: $darkred;
}

// Loader
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 40px;
  }

  .lds-ellipsis div {
    position: absolute;
    top: 16.5px;
    width: 6.5px;
    height: 6.5px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }

  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }

  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }

  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }

@media (max-width: 1600px) {
    html, body {
        font-size: 14px;
    }
}