@font-face {
  font-family: "Open Sans Light";
  src: url("/fonts/OpenSans-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Light Italic";
  src: url("/fonts/OpenSans-LightItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Regular";
  src: url("/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Italic";
  src: url("/fonts/OpenSans-Italic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Semi Bold";
  src: url("/fonts/OpenSans-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Semi Bold Italic";
  src: url("/fonts/OpenSans-SemiBoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Bold";
  src: url("/fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Bold Italic";
  src: url("/fonts/OpenSans-BoldItalic.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Extra Bold";
  src: url("/fonts/OpenSans-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Open Sans Extra Bold Italic";
  src: url("/fonts/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}
html, body {
  margin: 0;
  font-size: 16px;
}

main {
  overflow: auto;
}

* {
  font-family: "Open Sans Regular";
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans Bold";
}

i {
  font-family: "Open Sans Regular Italic";
}

button {
  font-size: 1em;
}

code {
  font-family: monospace;
  padding: 0.125rem 0.5rem;
  background: #E6FFF1;
  color: #1E8449;
  border-radius: 20rem;
  font-weight: 900;
}

#loading {
  display: none;
}

#loading-screen {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: #00000061;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 999;
}

#loading-screen p {
  font-family: "Open Sans Bold";
}

.link-white {
  color: #ffffff;
}

.btn-blue {
  cursor: pointer;
  white-space: nowrap;
  background-color: #0066FF;
  color: #ffffff;
  border: none;
  border-radius: 2rem;
  padding: 0.625rem 2.25rem;
  transition: background-color 0.2s ease-in-out;
}

.btn-blue:hover {
  background-color: #004DC1;
}

.btn-grey {
  cursor: pointer;
  white-space: nowrap;
  background-color: #F5F5F5;
  color: #212121;
  border: none;
  border-radius: 2rem;
  padding: 0.625rem 2.25rem;
  transition: background-color 0.2s ease-in-out;
}

.btn-grey:hover {
  background-color: #E9E9E9;
}

.btn-trans {
  cursor: pointer;
  border: none;
  color: #C9C9C9;
  border-radius: 2rem;
  padding: 0.625rem 2.25rem;
  background-color: transparent;
  transition: color 0.2s ease-in-out;
}

.btn-trans:hover {
  color: #ffffff;
}

.btn-add {
  cursor: pointer;
  color: white;
  border: none;
  padding: 1.5rem 2rem;
  background-color: #0066FF;
  transition: background-color 0.2s ease-in-out;
}

.btn-add:hover {
  background-color: #004DC1;
}

.inp-label {
  display: block;
  margin-bottom: 0.25rem;
}

.inp-label:not(:first-child) {
  margin-top: 1.25rem;
}

.inp-text {
  padding: 0.5rem;
  border: 0;
  border-radius: 3px;
  border: 1px solid #E9E9E9;
  font-size: 1rem;
  box-sizing: border-box;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.inp-text:hover {
  border-color: #444444;
}

.table {
  text-align: left;
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

.table th, .table td {
  padding: 1rem;
  border: 1px solid #E9E9E9;
}

.table th {
  font-family: "Open Sans Bold";
  background-color: #212121;
  color: #ffffff;
  position: sticky;
  top: 0;
}

.table tr:nth-child(odd) {
  background-color: #FBFBFB;
}

.table-min {
  width: 1px;
  white-space: nowrap;
}

#add {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background: #000000e0;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  justify-content: center;
  align-items: center;
}

#add-form {
  max-width: 28rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 0.125rem solid #E9E9E9;
  background-color: #FBFBFB;
}

.sidebar-container {
  padding-right: 1rem;
  padding-left: 1rem;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem 2rem;
  border-radius: 3px;
  white-space: nowrap;
  color: #444444;
  transition: background-color 0.1s ease-in-out;
}

.menu-item:hover {
  color: #212121;
  background-color: #F5F5F5;
}

.menu-item svg {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
}

.menu-title {
  padding-left: 2rem;
  padding-right: 2rem;
}

.active {
  color: #0066FF !important;
  background-color: #EEF5FF !important;
}

.active .menu-icon {
  fill: #0066FF;
}

.pagination-item {
  cursor: pointer;
  color: #212121;
  transition: color 0.2s ease-in-out;
}

.pagination-item:hover {
  color: #0066FF;
}

.navbar {
  border-bottom: 0.125rem solid #E9E9E9;
  padding: 1rem 2rem;
}

.main {
  width: 100vw;
  height: 100vh;
}

.content {
  padding: 1rem 2rem;
}

.cust-checkbox {
  padding-right: 0.5rem;
  transition: filter 0.2s ease-in-out;
}

.checkbox-container:hover .cust-checkbox {
  filter: brightness(70%);
}

.checkbox-container {
  cursor: pointer;
}

.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

.d-inline-block {
  display: inline-block;
}

.text-center {
  text-align: center;
}

.w-100 {
  width: 100%;
}

.mr-2 {
  margin-right: 2rem;
}

.ml-2 {
  margin-left: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.lightblue {
  background-color: #EEF5FF;
  cursor: pointer;
}

.c-blue {
  color: #0066FF;
}

.f-blue {
  fill: #0066FF;
  transition: fill 0.2s ease-in-out;
}

.lightblue:hover .f-blue {
  fill: #004DC1;
}

.lightred {
  background-color: #ffd5d5;
  cursor: pointer;
}

.c-red {
  color: #F64343;
}

.f-red {
  fill: #F64343;
  transition: fill 0.2s ease-in-out;
}

.lightred:hover .f-red {
  fill: #CE2323;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 40px;
}

.lds-ellipsis div {
  position: absolute;
  top: 16.5px;
  width: 6.5px;
  height: 6.5px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
@media (max-width: 1600px) {
  html, body {
    font-size: 14px;
  }
}

/*# sourceMappingURL=chrono.css.map */
