@import 'default-values';

main {
    background-color: $black;
    height: 100vh;
    width: 100vw;
}

body {
    color: $white;
}

.inp-text {
    background-color: $darkgrey;
    color: $white;
}

.inp-text:focus {
    background-color: $deepgrey;
}

#connexion-form {
    max-width: 28rem;
}

#password-visible-container {
    margin-top: 0.25rem;
    text-align: left;
}

#connexion {
    margin-top: 2rem;
    margin-bottom: 1rem;
}