// Fonts
@font-face {
    font-family: 'Open Sans Light';
    src: url('/fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans Light Italic';
    src: url('/fonts/OpenSans-LightItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans Regular';
    src: url('/fonts/OpenSans-Regular.ttf') format('truetype'),
}
@font-face {
    font-family: 'Open Sans Italic';
    src: url('/fonts/OpenSans-Italic.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans Semi Bold';
    src: url('/fonts/OpenSans-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans Semi Bold Italic';
    src: url('/fonts/OpenSans-SemiBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('/fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans Bold Italic';
    src: url('/fonts/OpenSans-BoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans Extra Bold';
    src: url('/fonts/OpenSans-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'Open Sans Extra Bold Italic';
    src: url('/fonts/OpenSans-ExtraBoldItalic.ttf') format('truetype');
}

$f-light: 'Open Sans Light', sans-serif;
$f-light-italic: 'Open Sans Light Italic', sans-serif;
$f-regular: 'Open Sans Regular', sans-serif;
$f-regular-italic: 'Open Sans Regular Italic', sans-serif;
$f-semi-bold: 'Open Sans Semi Bold', sans-serif;
$f-semi-bold-italic: 'Open Sans Semi Bold Italic', sans-serif;
$f-bold: 'Open Sans Bold', sans-serif;
$f-bold-italic: 'Open Sans Bold Italic', sans-serif;
$f-extra-bold: 'Open Sans Extra Bold', sans-serif;
$f-extra-bold-italic: 'Open Sans Extra Bold Italic', sans-serif;

$f-regular: 'test';

// Colors
$blue: #0066FF;
$lightblue: #EEF5FF;
$darkblue: #004DC1;

$green: #1E8449;
$lightgreen: #E6FFF1;

$red: #F64343;
$lightred: #ffd5d5;
$darkred: #CE2323;

$black: #212121;
$white: #ffffff;

$lightgrey: #FBFBFB;
$mediumgrey: #F5F5F5;
$grey: #E9E9E9;
$dimgrey: #C9C9C9;
$darkgrey: #444444;
$deepgrey: #333333;

$transblack: #00000061;

// Default styling
html, body {
    margin: 0;
    font-size: 16px;
}

main {
    overflow: auto;
}

* {
    font-family: 'Open Sans Regular';
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans Bold';
}

i {
    font-family: 'Open Sans Regular Italic';
}

button {
    font-size: 1em;
}

code {
    font-family: monospace;
    padding: 0.125rem 0.5rem;
    background: $lightgreen;
    color: $green;
    border-radius: 20rem;
    font-weight: 900;
}