<div id="add">
    <form id="add-form">
        <h2 class="text-center">Nouvelle note</h2>
        <p class="text-center">Entrez les informations afin de créer une nouvelle note dans la catégorie : <code>{{ page }}</code></p>
        {% if page == 'courrier' %}
            <div>
                <label for="form-recipient" class="inp-label">Destinataire</label>
                <input type="text" name="form-recipient" id="form-recipient" class="inp-text w-100" autocomplete="name">
            </div>
        {% endif %}

        <div class="d-flex justify-content-center w-100 mt-2">
            <button id="cancel" class="btn-trans" type="button" onclick="cancelAdd()">Annuler</button>
            <button id="next" class="btn-blue" type="button">Continuer</button>
        </div>
    </form>
</div>