<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <meta name=viewport content="width=device-width, initial-scale=1">
        <link rel="icon" href="logo/favicon.ico">
        <meta description="Outil Chrono | Ildys">
        <title>{% block title %}Accueil | Chrono{% endblock %}</title>
        <link rel="stylesheet" href="styles/chrono.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div id="loading">
            <div id="loading-screen"><p>Veuillez patienter</p><div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div></div>
        </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <script src="scripts/chrono.js"></script>
    </body>
</html>
