<div id="info" class="{% if app.request.query.get("result") == '200' %} d-flex {% endif %} info justify-content-between align-items-center">
    <span id="info-text">{{ txt|default('Succès !') }}</span>
    <button id="closeInfo" class="btn-info">✖</button>
</div>