<nav class="navbar">

    <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure nesciunt laborum modi facilis minima id itaque iste nemo cum. Hic neque nisi soluta provident quia ullam placeat ad minima ea!</span>

</nav>