{% extends "base.html.twig" %}

{% block title %}Administration - Chrono{% endblock %}

{% block body %}

    <main class="d-flex">

        {% include "sidebar.html.twig" %}

        <section class="main">

            {% include "navbar.html.twig" %}

            <section class="content">

                {% include "administration/user/navbar-user.html.twig" %}

                <h4 class="mt-2">Désactiver le compte</h4>

                {% include "info.html.twig" %}

                <p>En cliquant sur le bouton ci-dessous, vous désactivez
                    le compte de <b>{{ userFirstLastName }} </b>. <br>L'utilisateur ne pourra plus accéder à l'application.
                    <br><br>
                    Les données de l'utisateur restent inchangées.</p>

                {{ form_start(form) }}
                    {{ form_row(form.Desactiver, {'label': 'Désactiver'}) }}
                {{ form_end(form) }}

            </section>

        </section>

    </main>

{% endblock %}